/.gradle/
/.idea/
/.jpb/
/**/build/
/**/out/
/online-radio-api/covers/*
!/online-radio-api/covers/.gitignore
/online-radio-api/src/main/resources/application-dev.properties
/online-radio-api/src/main/resources/application-production.properties
